/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');
/* common css */
body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    background: #F3F1FF;
}
/* top player and top blog css */
main{
    display: flex;
    justify-content: center;
}
.container{
    width: 870px;
    background: #FFFFFF;
    padding: 30px;
}
.top-title{
    color: #562EFF;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 16px;
}